body
{
    width: auto;
}
header
{
    width: 350px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    right: 50px;
}
#logo
{
    width: 100px;
    height: 50px;
    margin-top: 50px;
}
#search
{
    width: 290px;
    height: 50px;
    border-radius: 30px;
}
#town
{
    position: relative;
    left: 5px;
    height: 44px;
}
input[type=submit]
{
    width: 35%;
    height: 100%;
    color: white;
    background-color: rgb(92, 92, 221);
    border-radius: 0px 30px 30px 0px;
}
#filter
{
    width: 800px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
#block1
{
    width: 90%;
    height: 600px;
    margin: 0px auto 40px;
    display: flex;
    justify-content: space-between;
}
#accommodation, #popular
{
    background-color: rgb(242, 242, 242);
    border-radius: 30px;
}
#accommodation
{
    width: 60%;
}
#accommodation h2
{
    width: 90%;
    margin: 40px auto 10px;
}
#accomodation_content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#accomodation_frame
{
    height: 190px;
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 1px 10px 1px rgb(202, 202, 202);
}
.accomodation_picture
{
    width: 230px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
    border-radius: 15px 15px 0px 0px;
}
.accomodation_picture1
{
    background-image: url("images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}
.accomodation_picture2
{
    background-image: url("images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}
.accomodation_picture3
{
    background-image: url("images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}
.accomodation_picture4
{
    background-image: url("images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}
.accomodation_picture5
{
    background-image: url("images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}.accomodation_picture6
{
    background-image: url("images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}
#accomodation_text
{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
#host
{
    margin: 10px 0px;
    font-size: large;
    font-weight: bold;
}
#popular
{
    width: 35%;
}
#popular h2
{
    width: 80%;
    margin: 40px auto 25px;
}
#popular_content
{
    display: flex;
    flex-direction: column;
}
#popular_frame
{
    width: 80%;
    display: inline-flex;
    margin: 0px auto 25px;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 1px 10px 1px rgb(202, 202, 202);
}
.popular_picture
{
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    border-radius: 15px 0px 0px 15px;
}
.popular_picture1
{
    background-image: url("images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}
.popular_picture2
{
    background-image: url("images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg");
}
.popular_picture3
{
    background-size: 130px !important;
    background-image: url("images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}
#popular_text
{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
#block2
{
    width: 90%;
    margin: auto;
}
#activities
{
    height: 450px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 60px;
}
#activities_frame
{
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 3px 10px 5px rgb(242, 242, 242);
}
.activities_pictures
{
    width: 330px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
}
.activities_pictures1
{
    height: 450px;
    background-size: 700px;
    background-image: url("images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}
.activities_pictures2
{
    height: 180px;
    background-size: 330px;
    background-position: 50% 45% !important;
    background-image: url("images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}
.activities_pictures3
{
    height: 130px;
    background-size: 350px;
    background-position: 50% 20% !important;
    background-image: url("images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}
.activities_pictures4
{
    height: 450px;
    background-size: 800px;
    background-image: url("images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}
.activities_pictures5
{
    height: 160px;
    background-size: 350px;
    background-position: top !important;
    background-image: url("images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}
.activities_picture6
{
    height: 160px;
    background-size: 330px 230px;
    background-position: top !important;
    background-image: url("images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}
#test
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#activities_frame span
{
    margin: 15px 15px;
    font-size: large;
    font-weight: bold;
}
footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(242, 242, 242);
}
#footer_content
{
    display: flex;
    flex-direction: column;
}