body
{
    width: auto;
}
header
{
    width: 350px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    right: 50px;
}
#logo
{
    width: 100px;
    height: 50px;
    margin-top: 50px;
}
#search
{
    width: 290px;
    height: 50px;
    border-radius: 30px;
}
#town
{
    position: relative;
    left: 5px;
    height: 44px;
}
input[type=submit]
{
    width: 35%;
    height: 100%;
    color: white;
    background-color: rgb(92, 92, 221);
    border-radius: 0px 30px 30px 0px;
}
#filter
{
    width: 800px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
#block
{
    width: 90%;
    height: 600px;
    margin: 0px auto 40px;
    display: flex;
    justify-content: space-between;
}
#accommodation, #popular
{
    background-color: rgb(242, 242, 242);
    border-radius: 30px;
}
#accommodation
{
    width: 60%;
}
#accomodation_content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#accomodation_frame
{
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
}
.accomodation_picture
{
    width: 230px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
    border-radius: 15px 15px 0px 0px;
}
.accomodation_picture1
{
    background-image: url("images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}
.accomodation_picture2
{
    background-image: url("images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}
.accomodation_picture3
{
    background-image: url("images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}
.accomodation_picture4
{
    background-image: url("images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}
.accomodation_picture5
{
    background-image: url("images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}.accomodation_picture6
{
    background-image: url("images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}
#accomodation_text
{
    display: flex;
    flex-direction: column;
}
#popular
{
    width: 35%;
}
#popular_content
{
    display: flex;
    flex-direction: column;
}
#popular_frame
{
    width: 80%;
    display: inline-flex;
    margin: 0px auto 25px;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
}
.popular_picture
{
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    border-radius: 15px 0px 0px 15px;
}
.popular_picture1
{
    background-image: url("images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}
.popular_picture2
{
    background-image: url("images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg");
}
.popular_picture3
{
    background-size: 130px !important;
    background-image: url("images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}
#popular_text
{
    display: flex;
    flex-direction: column;
}
#test1
{
    width: 90%;
    margin: auto;
}
#activities
{
    height: 400px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 60px;
}
#activities_pictures_high
{
    width: 280px;
    height: 350px;
    border-radius: 20px 20px 0px 0px;
}
#activities_pictures_small1
{
    width: 280px;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
}
#activities_pictures_small2
{
    width: 280px;
    height: 100px;
    border-radius: 20px 20px 0px 0px;
}
#activities_pictures_small3
{
    width: 280px;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
}
#activities_pictures_small4
{
    width: 280px;
    height: 170px;
    border-radius: 20px 20px 0px 0px;
}
#activities_frame
{
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 3px 10px 5px rgb(242, 242, 242);;
}
#test
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(242, 242, 242);
}
#footer_content
{
    display: flex;
    flex-direction: column;
}