@font-face
{
    font-family: 'Raleway-light';
    src: url('polices/static/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Raleway-regular';
    src: url('polices/static/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Raleway-bold';
    src: url('polices/static/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body
{
    margin: 0px;
    font-family: "Raleway-regular", sans-serif;
}
header
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    font-family: "Raleway-light", sans-serif;
    font-weight: 500;
}
header nav
{
    width: 30%;
    margin-right: 2%;
    display: inline-flex;
    justify-content: space-between;
}
.header_block
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.register
{
    font-family: "raleway-bold", sans-serif;
    color: rgb(0, 101, 252);
}
.lign
{
    visibility: hidden;
    position: relative;
    bottom: 69px;
    border: 1px solid rgb(0, 101, 252);
}
.header_block a
{
    width: 160%;
    position: relative;
    top: 50px;
}
.header_block a:hover
{
    color: rgb(0, 101, 252);
}
.header_block a:hover .lign
{
    visibility: visible;
}
body a
{
    color: black;
    text-decoration: none;
}
.section_filter
{
    width: 90%;
    margin: auto;
}
#logo
{
    width: 100px;
    height: 50px;
    margin-top: 50px;
}
h1
{
    margin-bottom: -10px;
    font-family: "raleway-bold", sans-serif;
}
#search
{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.fa-map-marker-alt
{
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 15px 0px 0px 15px;
    background-color: rgb(242, 242, 242);
}
#town
{
    width: 200px;
    padding-left: 20px;
    left: 5px;
    height: 44px;
    outline: none;
    border: 1px solid rgb(242, 242, 242);
    font-family: "Raleway-bold", sans-serif;
    font-size: 1.2em;
}
::placeholder {
    color: black;

  }
input[type=submit]
{
    width: 130px;
    color: white;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "raleway-bold", sans-serif;
    font-size: 1.1em;
}
#filter
{
    width: 65%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    font-family: "raleway-bold", sans-serif;
    font-size: 1.1em;
}
.button
{
    z-index: 2;
    position: relative;
    left: -4px;
    top: -2px;
    width: 49px;
    height: 49px;
    color: #0065FC;
    font-size: 20px;
    background-color: #DEEBFF;
    border-radius: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
}
.button i
{
    margin-top: 13px;
}
#filter a
{
    display: inline-flex;
    height: 45px;
    z-index: 1;
    border-radius: 50px;
    border: 2px solid rgb(217, 217, 217);
}
#filter a:hover .button
{
    background-color: rgb(217, 217, 217);
}
#filter span
{
    margin: 12px 20px 0px 5px;
}
.fa-info
{
    font-size: 12px;
    width: 12px;
    padding: 7px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
    color: rgb(0, 101, 255);
    border: 1px solid #d9d9d9;
}
main
{
    width: 90%;
    height: 650px;
    margin: 30px auto 40px;
    display: flex;
    justify-content: space-between;
    font-family: "raleway-bold", sans-serif;
}
#section_accommodation, #popular
{
    background-color: rgb(242, 242, 242);
    border-radius: 30px;
}
#section_accommodation
{
    width: 65%;
}
#accommodation
{
    width: 90%;
    margin: auto;
}
#section_accommodation h2
{
    margin: 40px auto 10px;
}
#accomodation_content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.accomodation_frame
{
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 1px 10px 1px rgb(202, 202, 202);
}
.accomodation_picture
{
    width: 260px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 260px;
    border-radius: 15px 15px 0px 0px;
}
.accomodation_picture1
{
    background-image: url("images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}
.accomodation_picture2
{
    background-image: url("images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}
.accomodation_picture3
{
    background-image: url("images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}
.accomodation_picture4
{
    background-image: url("images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}
.accomodation_picture5
{
    background-image: url("images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}.accomodation_picture6
{
    background-image: url("images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}
.accomodation_text
{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.accomodation_stars
{
    margin-top: 62px;
    height: 11px;
    position: absolute;
    background-repeat: space;
}
.stars_grey
{
    width: 70px;
    background-image: url("images/star-solid-grey.svg");
}
.stars_blue
{
    background-image: url("images/star-solid-blue.svg");
}
.accomodation_stars1
{
    width: 55px;
}
.accomodation_stars2
{
    width: 70px;
}
.accomodation_stars3
{
    width: 55px;
}
.accomodation_stars4
{
    width: 40px;
}
.accomodation_stars5
{
    width: 55px;
}
.accomodation_stars6
{
    width: 70px;
}
.host
{
    margin: 7px 0px;
    font-family: "raleway-bold", sans-serif;
    font-size: 1.1em;
}
.night
{
    font-family: "raleway-regular", sans-serif;
    font-size: 0.9em;
}
.more
{
    font-size: 1.2em;
}
#popular
{
    width: 32%;
}
#title
{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 40px auto 5px;
}
.fa-chart-line
{
    font-size: 25px;
}
#title h2
{
    margin-top: 0px;
}
#popular_content
{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.popular_frame
{
    width: 80%;
    display: inline-flex;
    margin: 0px auto 25px;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 1px 10px 1px rgb(202, 202, 202);
}
.popular_picture
{
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    border-radius: 15px 0px 0px 15px;
}
.popular_picture1
{
    background-image: url("images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}
.popular_picture2
{
    background-image: url("images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg");
}
.popular_picture3
{
    background-size: 130px !important;
    background-image: url("images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}
.popular_text
{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.popular_stars
{
    margin-top: 110px;
    height: 11px;
    position: absolute;
    background-repeat: space;
}
.popular_stars1
{
    width: 70px;
}
.popular_stars2
{
    width: 55px;
}
.popular_stars3
{
    width: 55px;
}
#section_activities
{
    width: 90%;
    margin: auto;
    font-family: "raleway-bold", sans-serif;
}
#activities
{
    height: 450px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 60px;
}
.activities_frame
{
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 3px 10px 5px rgb(242, 242, 242);
}
.activities_pictures
{
    width: 330px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
}
.activities_pictures1
{
    height: 450px;
    background-size: 700px;
    background-image: url("images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}
.activities_pictures2
{
    height: 180px;
    background-size: 330px;
    background-position: 50% 45% !important;
    background-image: url("images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}
.activities_pictures3
{
    height: 130px;
    background-size: 350px;
    background-position: 50% 20% !important;
    background-image: url("images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}
.activities_pictures4
{
    height: 450px;
    background-size: 800px;
    background-image: url("images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}
.activities_pictures5
{
    height: 160px;
    background-size: 350px;
    background-position: top !important;
    background-image: url("images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}
.activities_picture6
{
    height: 160px;
    background-size: 330px 230px;
    background-position: top !important;
    background-image: url("images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}
.frames
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activities_frame span
{
    margin: 15px 15px;
    font-size: large;
    font-weight: bold;
}
footer
{
    height: 220px;
    display: flex;
    background-color: rgb(242, 242, 242);
}
#block_footer
{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.footer_content
{
    display: flex;
    margin-right: 300px;
    flex-direction: column;
}
.footer_content h2
{
    font-size: 1.1em;
    font-family: "raleway-bold", sans-serif;
}
.footer_content a
{
    margin-bottom: 15px;
}